text {
  fill: currentColor;
  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
}

g.axes > text {
  font-size: var(--ring-font-size-smaller);
}

line {
  stroke: currentColor;
}

path {
  stroke: none;
}

