:root {
    --color-id-1-foreground: #fff;
    --color-id-1-background: #8d5100;

    --color-id-8-foreground: #fff;
    --color-id-8-background: #8e1600;

    --color-id-15-foreground: #45818e;
    --color-id-15-background: #d8f7f3;

    --color-id-22-foreground: #dc5766;
    --color-id-22-background: #fce5f1;

    --color-id-29-foreground: #fff;
    --color-id-29-background: #42a3df;

    --color-id-2-foreground: #fff;
    --color-id-2-background: #ce6700;

    --color-id-9-foreground: #fff;
    --color-id-9-background: #dc0083;

    --color-id-16-foreground: #888;
    --color-id-16-background: #e6e6e6;

    --color-id-23-foreground: #b45f06;
    --color-id-23-background: #f7e9c1;

    --color-id-30-foreground: #fff;
    --color-id-30-background: #878787;

    --color-id-3-foreground: #fff;
    --color-id-3-background: #409600;

    --color-id-10-foreground: #fff;
    --color-id-10-background: #7dbd36;

    --color-id-17-foreground: #4da400;
    --color-id-17-background: #e6f6cf;

    --color-id-24-foreground: #444;
    --color-id-24-background: #92e1d5;

    --color-id-31-foreground: #fff;
    --color-id-31-background: #4d4d4d;

    --color-id-4-foreground: #fff;
    --color-id-4-background: #0070e4;

    --color-id-11-foreground: #fff;
    --color-id-11-background: #ff7123;

    --color-id-18-foreground: #b45f06;
    --color-id-18-background: #ffee9c;

    --color-id-25-foreground: #444;
    --color-id-25-background: #a6e0fc;

    --color-id-32-foreground: #fff;
    --color-id-32-background: #246512;

    --color-id-5-foreground: #fff;
    --color-id-5-background: #900052;

    --color-id-12-foreground: #fff;
    --color-id-12-background: #ff7bc3;

    --color-id-19-foreground: #444;
    --color-id-19-background: #ffc8ea;

    --color-id-26-foreground: #444;
    --color-id-26-background: #e0c378;

    --color-id-33-foreground: #fff;
    --color-id-33-background: #00665e;

    --color-id-6-foreground: #fff;
    --color-id-6-background: #0050a1;

    --color-id-13-foreground: #444;
    --color-id-13-background: #fed74a;

    --color-id-20-foreground: #fff;
    --color-id-20-background: #e30000;

    --color-id-27-foreground: #444;
    --color-id-27-background: #bababa;

    --color-id-34-foreground: #fff;
    --color-id-34-background: #553000;

    --color-id-7-foreground: #fff;
    --color-id-7-background: #2f9890;

    --color-id-14-foreground: #444;
    --color-id-14-background: #b7e281;

    --color-id-21-foreground: #3d85c6;
    --color-id-21-background: #e0f1fb;

    --color-id-28-foreground: #fff;
    --color-id-28-background: #25beb2;

    --color-id-35-foreground: #fff;
    --color-id-35-background: #1a1a1a;

    --color-id-0-foreground: #444;
    --color-id-0-background: #fff;
}
